
body {
    background-color: black;
}

@media (min-width: 600px) {
    body {
        background-color: orange;
    }
}

@media (min-width: 760px) {
    body {
        background-color: green;
    }
}

@media (min-width: 1000px) {
    body {
        background-color: red;
    }
}

@media (min-width: 1200px) {
    body {
        background-color: yellowgreen;
    }
}